html {
  min-height: 100%;
  scroll-behavior: smooth;
}

#themeChanger {
  right: 0;
  position: absolute;
  margin-right: 2%;
  margin-top: 2%;
  height: 6%;
  width: 17%;
}

#themeChanger>img {
  width: 0%;
  opacity: 0;
}

#themeChanger>img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}


/*Modification du bouton de changement de thème.*/
@media (min-width: 1346px) {
  #themeChanger {
    background: transparent;
    border: none !important;
    right: 0;
    position: absolute;
    margin: 1%;
    height: 11%;
    width: 6%;
  }

  #themeChanger>img {
    width: 105%;
    opacity: 1;
  }

  #themeChanger>img:hover {
    transform: scale(1.1);
  }
}

/*Modification image lien Discord.*/
#discord {
  width: 3%;
  height: 3%;
}

/*Modification du body.*/
body {
  scroll-behavior: smooth;
  margin: 0;
}

/*Modification de la classe corps.*/
.corps {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0 3%;
}

/*Modification du hearder.*/
header {
  width: 100%;
  font-size: 2em;
  border: solid;
}

header h1 {
  font-family: 'Brush Script MT';
  text-align: center;
}

/*Modification du footer.*/
footer {
  border: solid;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  width: 100%;
}

footer a {
  text-decoration: none;
}

footer a>img {
  width: 5%;
}

.icone-site {
  width: 5%;
  height: 5%
}

/*Modification de l'ancrage.*/
.ancrage {
  margin-left: 95%;
}

.ancrage img {
  width: 4%;
}

/*Modification de la barre d'accueil.*/
#barre-accueil ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding-inline-start: 0;
  font-size: 1em;
  flex-wrap: wrap;
}

#barre-accueil li {
  display: inline-block;
  flex: 1 1 !important;
  text-decoration: none;
}

#barre-accueil img:hover {
  border-radius: 5%;
  transform: scale(1.10);
  transition: 0.5s;
}

#barre-accueil img {
  border-radius: 5%;
  width: 80%;
  height: 60%;
}

/*Création du petit panneau de choix en format checkbox*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 1.5em;
  left: 1em;
  width: 1.5em;
  height: 0.5em;
  cursor: pointer;
  z-index: 5;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3em;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -0.5em;
}

.menu__btn>span::after {
  content: '';
  top: 0.5em;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -10em;
  width: 10em;
  height: 100%;
  margin: 0em;
  padding: 2em 0;
  list-style: none;
  transition-duration: .25s;
  opacity: 1;
  z-index: 1;
}

.menu__item {
  display: block;
  margin-top: 1em;
  padding: 0em 0em;
  font-size: 1em;
  font-weight: 60;
  width: 10em;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  transition-duration: .25s;
  opacity: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu__item:hover {
  opacity: 1;
}