li.anecdoteCamouflage>span:hover {
  color: #26a269;
}

td, th{
  border: solid;
}

video{
  width: 40%
}

@keyframes slideinLeftToMiddle {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.caracteristique {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 722px) {
  .caracteristique {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .caracteristique > video{
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
  }
}

h1 {
  animation-duration: 2s;
  animation-name: slideinLeftToMiddle;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
}