.legende1 {
  border: 1px solid gray;
  background: #f2c6b4;
  margin-right: 0.3em;
  vertical-align: middle;
  color-adjust: exact;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
}

.legende2 {
  border: 1px solid gray;
  background: #ebb18d;
  margin-right: 0.3em;
  vertical-align: middle;
  color-adjust: exact;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
}

.legende3 {
  border: 1px solid gray;
  background: #e9813e;
  margin-right: 0.3em;
  vertical-align: middle;
  color-adjust: exact;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
}

.legende4 {
  border: 1px solid gray;
  background: #fc2a00;
  margin-right: 0.3em;
  vertical-align: middle;
  color-adjust: exact;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
}

.line {
  position: relative;
  margin-left: 10%;
  text-align: center;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  width: 0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}

span {
  color: #fff;
  font-weight: bold;
}

.cursor {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 40em;
  }
}

@-moz-keyframes type {
  to {
    width: 40em;
  }
}

@-o-keyframes type {
  to {
    width: 40em;
  }
}

@keyframes type {
  to {
    width: 80%;
  }
}

#separateur {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding-inline-start: 0;
  font-size: 1em;
  flex-wrap: wrap;
}

#separateur>div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  text-align: start;
}

#wiki {
  border: solid 0.1em #5e4831;
  padding: 0.2em;
}